@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(145, 177, 226);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

header {
    margin-top: 40px;
    color: rgb(250, 186, 221);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.192);
}

section {
    height: 390px;
    width: 390px;
    background-color: rgb(213, 245, 240);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.527);

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

div {
    padding: 20px;
    font-size: 1.5em;
}

footer {
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 10px;
}